PORT = an integer representing the port through which the server will be accessed e.g. 3000
SECRET_KEY = A string to be used when generating token, it can be any length.
DATABASE_URL= postgres://user_name:password@host:port/db_name
TEST_DATABASE_URL=postgres://user_name:password@host:port/test_db_name
SENDGRID_API_KEY= api key from sendgrid
SERVER_MAIL= email address
google_client=string from google
google_secret=string from google
facebook_client=string from facebook
facebook_secret=string from facebook