PORT = AN INTEGER REPRESENTING THE PORT THROUGH WHICH THE SERVER WILL BE ACCESSED E.G. 3000
SECRET_KEY = A STRING TO BE USED WHEN GENERATING TOKEN, IT CAN BE ANY LENGTH.
DATABASE_URL = POSTGRES://USER_NAME:PASSWORD@HOST:PORT/DB_NAME
TEST_DATABASE_URL = POSTGRES://USER_NAME:PASSWORD@HOST:PORT/TEST_DB_NAME
SENDGRID_API_KEY = API KEY FROM SENDGRID
SERVER_MAIL = EMAIL ADDRESS
GOOGLE_CLIENT = STRING FROM GOOGLE
GOOGLE_SECRET = STRING FROM GOOGLE
FACEBOOK_CLIENT = STRING FROM FACEBOOK
FACEBOOK_SECRET = STRING FROM FACEBOOK
APP_URL = APPLICATION URL